apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: helloworld-controller
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "patch"]
