apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - virtualservice-prod.yaml

nameSuffix: -prod

commonLabels:
  env: prod

patches:
  - path: patch-configmap.yaml
